<div class="section py-4">
  <div class="container-fluid">

    <div class="card custom-card mb-4">
      <div class="card-body">

        <!-- TÍTULO -->
        <div class="text-center mb-4">
          <h4 class="section-title">
            Generar Consignación
          </h4>
        </div>

        <!-- FILTROS -->
        <div class="row justify-content-center g-3">

          <div class="col-12 col-md-4">
            <label class="form-label">Consignación</label>
            <select class="form-select custom-input"
                    [(ngModel)]="consignacionSeleccionada"
                    (ngModelChange)="onChangeConsignacion()">

              <option [ngValue]="undefined">Seleccione</option>

              @for (rel of relaciones; track rel.consignacion.codigo) {
                <option [ngValue]="rel">
                  {{ rel.consignacion.nombre }}
                </option>
              }
            </select>
          </div>

          <div class="col-12 col-md-4">
            <label class="form-label">Bodega Destino</label>
            <select class="form-select custom-input" [(ngModel)]="bodFin">
              @for (b of bodegaDestino; track b.codigo) {
                <option [value]="b.codigo">
                  {{ b.nombre }}
                </option>
              }
            </select>
          </div>

          <div class="col-12 col-md-4">
            <label class="form-label">CCO</label>
            <input type="text"
                   id="cco"
                   class="form-control custom-input"
                   [(ngModel)]="cco">
          </div>

          <div class="col-md-4 col-lg-2">
            <button
              class="btn btn-primary w-100"
              (click)="generarConsignacion()">
              <fa-icon [icon]="faArrowUpFromBracket"></fa-icon>
              Generar Consignacion
            </button>
          </div>

        </div>

      </div>
    </div>

    @if (generando) {
      <div class="d-flex justify-content-center p-3">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Generando...</span>
        </div>
      </div>
    } @else if (codigoGenerado) {
      <div>
        <h2>Resultado de la transaccion {{codigoGenerado}}</h2>
      </div>
    }
  </div>
</div>
